:root {
    --coral:    #F05D5E;
    --teal:     #0F7173;
    --light:    #E7ECEF;
    --white:    #ffffff;
    --dark:     #272932;
    --camel:    #D8A47F;
    --bluemsh : #4174c0;
    --reddy :   #d61010;
    --pinky :   #eb30b3;
    --navy :    #1327dd;
    --melon :   #e9ec08;
}

.heading {
    font-size: 3.5rem;
}

.heading--center{
    color: #EBD71C;
    background-color: #000;
    border-color: #D2BE03;
    border: 0.15rem solid;
    text-align: center;
}


.container {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.container--title{
    font-size: 2rem;
    text-align: center;
}

.container--title--sith{
    color: var(--dark);
    border: 0.15rem solid;
    border-color: var(--pinky);
}

.container--title--jedi{
    color: var(--light);
    border: 0.15rem solid;
    border-color: var(--bluemsh);
}
.container--sith{
    float: left;
    background-color: #484849;
    border: 0.25rem solid;
    border-color: var(--dark);
}

.container--jedi{
    float: right;
    border: 0.25rem solid;
    border-color: var(--light);
    background-color: var(--teal);
}

.card {
    padding: 1.35rem;
    margin: 1%;
    border: 0.5rem solid;
    max-width: 240px;
    min-width: 240px;
    max-height: 440px;
    min-height: 440px;
    border-radius: 25px;
    text-align: center;
}

.card--sith{
    background-color: var(--dark);
    border-color: #36383d;
    border : 0.25rem solid;
}

.card--jedi{
    background-color: var(--light);
    border-color: var(--bluemsh);
    
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
